@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Lato:wght@300&family=Oswald:wght@300&family=Puritan&family=Sofia+Sans&display=swap');

* {
    margin: auto;
    padding: 0px;
    border: none;
}

h1,
h2,
h3 {
    font-family: 'Crimson Text', serif;
}

#logo {
    color: rgb(0, 18, 83);
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}

#menu {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4px;
    font-family: 'Crimson Text', serif;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

#menu li {
    display: inline;
    word-spacing: 15px;
}

li a {
    color: rgb(62, 109, 156);
}

li a:hover {
    color: rgb(225, 77, 42);
}

.active {
    color: rgb(225, 77, 42);
}

#main-img {
    width: 100%;
    height: 600px;
    background: url('../images/sigmund-xvSEauDHrNI-unsplash-small.jpg') no-repeat center center;
    object-fit: cover;
    clear: both;
}

#main-hd {
    width: 100%;
    top: 603px;
    background-color: rgba(225, 77, 42, 0.594);
    padding-top: 10px;
    position: absolute;
    border: 1px solid white;
}

#main-hd h2,
#main-hd h3 {
    font-size: 150%;
    font-family: 'Puritan', serif;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
    color: white;
}

#main-hd:hover {
    background-color: rgba(253, 132, 31, 0.594);
}

#description {
    width: 100%;
    height: 500px;
    padding: 30px 0 30px 0;
    position: absolute;
}

#desctext {
    width: 100%;
    float: left;
}

#description h2 {
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}

#description p {
    width: 80%;
    padding: 10px 0 10px 0;
    font-size: 100%;
    font-family: sans-serif;
    text-align: left;
}

#columnimg {
    max-width: 100%;
    margin-bottom: 50px;
}

#columnimg p {
    text-align: center;
    font-family: 'Crimson Text', serif;
}

#columnimg hr {
    width: 70%;
}

.columns {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

hr {
    border: 1px solid #141449;
}

.separate {
    margin-bottom: 100px;
}

#tourzone {
    width: auto;
    margin: 930px 0 25px 0;
    clear: both;
}

#tourzone h3 {
    text-align: center;
    padding: 25px;
    font-size: 150%;
    color: rgb(0, 18, 83);
}

#tour1 {
    width: 60%;
    height: 215px;
    background: url('../images/tour.jpeg') no-repeat center center;
    object-fit: cover;
}

#tour2 {
    width: 60%;
    height: 215px;
    background: url('../images/tour2.jpeg') no-repeat center center;
    object-fit: cover;

}

#tour3 {
    width: 60%;
    height: 215px;
    background: url('../images/tour3.jpeg') no-repeat center center;
    object-fit: cover;
}

#tour4 {
    width: 60%;
    height: 215px;
    background: url('../images/tour4.jpeg') no-repeat center center;
    object-fit: cover;
}

#tour-hd {
    width: 60%;
    height: 215px;
    color: #fafafa;
    background-color: #10103cbe;
    text-align: center;
    border: 2px solid white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 720px;
}

#tour-hd:hover {
    background-color: #10103cbe;
}

#tour-hd h4 {
    font-size: 110%;
    margin-top: 5px;
    -webkit-text-stroke: 0.4px #141449;
}

#tour-hd p {
    font-size: 105%;
    padding-top: 10px;
    color: white;
    -webkit-text-stroke: 0.4px #141449;
}


#tour-hd h5 {
    font-size: 110%;
    padding: 55px 0 5px 5px;
    text-align: left;
    -webkit-text-stroke: 0.4px #141449;
}

.book-now {
    margin-top: 20px;
    padding: 2.5px 5px 2.5px 5px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(225, 77, 42);
    color: #fafafa;
    display: block;
    top: 75%;
    left: 65%;
    position: absolute;
}

.book-now:hover {
    background-color: rgb(225, 106, 42);
}

body {
    min-height: 100vh;
    margin: 0;
}

/* -----FOOTER------ */

footer {
    min-height: 50px;
    width: 100%;
    background-color: #101039;
    display: flex;
}



.contacts {
    color: white;
    font-family: sans-serif;
    display: none;
}

.contacts h4 {
    font-size: 110%;
    margin-bottom: 5px;
}

.contacts p {
    margin-left: 5px;
    width: 200px;
}

.hours {
    color: white;
    font-family: sans-serif;
    margin: 25px;
    display: none;
}

.hours h4 {
    font-size: 110%;
    margin-bottom: 5px;
}

.hours p {
    margin: 0px;
    margin-left: 5px;
    width: 200px;
}

.social-networks {
    display: flex;
}
.social-networks>li {
    display: inline;
    padding: 25px;
}

.social-networks i {
    font-size: 160%;
    margin: 5%;
    padding: 0;
    color: white;
}

/* -----TRAVEL------ */

#travel-img {
    max-width: 100%;
    height: 600px;
    background: url('../images/andy-holmes-h5cYy5OHDWM-unsplash.jpg') no-repeat center center;
    object-fit: cover;
    clear: both;
}

#travel-cont {
    clear: both;
}

#travel-cont h2 {
    margin: 10px;
    text-align: center;
    color:rgb(0, 18, 83);
}

#travel-cont h3 {
    margin: 10px;
    text-align: center;
    color:rgb(0, 18, 83);
}

#travel-cont p {
    font-family: 'Puritan';
    margin: 5px 25px;
}

/* ----SIGNUP---- */

#signup-img {
    width: 100%;
    height: 700px;
    background: url('../images/nick-night-N8noGei1-1I-unsplash-small.jpg') no-repeat center center;
    clear: both;
    margin-bottom: 25px 0 25px 0;
}

#signup {
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.signup-form {
    width: 330px;
    height: 400px;
    color: rgb(0, 18, 83);
    font-family: 'Puritan', serif;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    border: 15px solid rgb(255, 255, 255);
}



.signup-form label {
    margin: 10%;
    font-size: 120%;
    text-transform: uppercase;
}

.text-input {
    background: transparent;
    border-bottom: 1px solid rgb(225, 106, 42);
    color: rgb(0, 18, 83);
    font-size: 105%;
    width: 100%;
    margin: 5px 0 10px 0;
    text-align: center;
}

.register {
    padding: 5px 10px;
    text-align: center;
    font-size: 120%;
    font-family: 'Puritan', serif;
    background-color: rgb(225, 77, 42);
    color: #fafafa;
    display: block;
}
/* ------HISTORY------ */

#history-cont {
    clear: both;
}

#history-cont h2 {
    margin: 10px;
    text-align: center;
    color:rgb(0, 18, 83);
}

#history-cont p {
    font-family: 'Puritan';
    margin: 5px 25px;
}

.vesuvio {
    max-width: 90%;
    height: 400px;
    margin: 0 25px;
}

.bay {
    max-width: 100%;
    height: 400px;   
}

/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {

    #menu {
        float: right;
        margin: 10px 25px 10px 10px;
    }

    #logo {
        float: left;
        margin-left: 25px;
    }

    hr {
        display: none;
    }

    #main-hd {
        top: 300px;
    }

    #main-img {
        background: url('../images/sigmund-xvSEauDHrNI-unsplash.jpg') no-repeat center center;
    }

    #tourzone {
        margin: 550px 0 25px 0;
    }

    #tour-hd {
        background-color: rgba(225, 187, 171, 0.246);
    }

    #tour-hd h5 {
        bottom: 0;
        left: 0;
    }

    .book-now {
        top: 75%;
        left: 80%;
    }

    /* SIGNUP MEDIA QUERIES */
    #signup-img {
        background: url('../images/nick-night-N8noGei1-1I-unsplash.jpg') no-repeat center center;
    }

    #signup {
        top: 20%;
        left: 20%;
    }

    .signup-form {
        width: 500px;
        height: 250px;
    }

    .signup-form label {
        margin: 3%;
    }

    #desctext {
        width: 50%;
        float: left;
    }

    #description h2 {
        font-size: 170%;
        text-align: center;
    }

    #desctext p {
        width: 100%;
        text-align: left;
        margin: 30px 0px 40px 10%;
    }

    #columnimg {
        float: right;
        margin-right: 100px;
    }

    .contacts {
        display: contents;
    }

    .hours {
        display: contents;
    }

    .footerflex {
        flex: 1;
        padding:2% 10%;
    }

    .vesuvio {
        max-width: 100%;
        height: 400px;
        margin: 0 25px 30px 25px;
        float: right;
    }
    #history-cont h2 {
        text-align: left;
        margin-left: 30px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 400px) {

    #tourzone {
        margin: 930px 0 25px 0;
    }

    #columnimg {
        max-width: 80%;
    }

}