@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Lato:wght@300&family=Oswald:wght@300&family=Sofia+Sans&display=swap');

* {
    margin: auto;
    padding: 0px;
    border: none;
}

h1,
h2,
h3 {
    font-family: 'Crimson Text', serif;
}

#logo {
    color: rgb(0, 18, 83);
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}

#menu {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4px;
    font-family: 'Crimson Text', serif;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

#menu li {
    display: inline;
    word-spacing: 15px;
}

li a {
    color: rgb(62, 109, 156);
}

li a:hover {
    color: rgb(225, 77, 42);
}


#main-img {
    width: 100%;
    height: 600px;
    background: url('../images/christine-kozak-Y_AweGqK9nY-unsplash.jpg') no-repeat center center;
    object-fit: scale-down;
    clear: both;
    margin-bottom: 25px 0 25px 0;
}

#main-hd {
    width: 100%;
    top: 603px;
    background-color: rgba(225, 77, 42, 0.594);
    padding-top: 10px;
    position: absolute;
}

#main-hd h2,
#main-hd h3 {
    text-align: center;
    margin: 10px;
    color: white;
}

#main-hd:hover {
    background-color: rgba(253, 132, 31, 0.594);
}

#description {
    margin: auto;
    width: 100%;
    height: 150px;
    padding: 30px 0 30px 0;
}

#description h2 {
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}

#description li {
    padding: 10px 0 10px 0;
    font-size: 100%;
    font-family: sans-serif;
}

#columnimg {
    width: auto;
    height: 500px;
    clear: both;
}

#columnimg p {
    text-align: center;
    font-family: 'Crimson Text', serif;
}

#columnimg hr {
    width: 70%;
}

.columns {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

hr {
    border: 1px solid #141449;
}

#tourzone {
    width: auto;
    margin: 25px 0 25px 0;
}

#tourzone h3 {
    text-align: center;
    padding: 25px;
    font-size: 150%;
    color: rgb(0, 18, 83);
}

#tour1 {
    width: 60%;
    height: 215px;
    background: url('../images/tour.jpeg') no-repeat center center;
    object-fit: cover;
}

#tour2 {
    width: 60%;
    height: 215px;
    background: url('../images/tour2.jpeg') no-repeat center center;
    object-fit: cover;

}

#tour3 {
    width: 60%;
    height: 215px;
    background: url('../images/tour3.jpeg') no-repeat center center;
    object-fit: cover;
}

#tour4 {
    width: 60%;
    height: 215px;
    background: url('../images/tour4.jpeg') no-repeat center center;
    object-fit: cover;
}

#tour-hd {
    width: 60%;
    height: 215px;
    color: #fafafa;
    /* background-color: rgba(225, 187, 171, 0.246); */
    background-color: #10103cbe;
    text-align: center;
    border: 2px solid white;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 720px;
}

#tour-hd:hover {
    background-color: #10103cbe;
}

#tour-hd h4 {
    font-size: 110%;
    margin-top: 5px;
    -webkit-text-stroke: 0.4px #141449;
}

#tour-hd p {
    font-size: 105%;
    padding-top: 10px;
    color: white;
    -webkit-text-stroke: 0.4px #141449;
}


#tour-hd h5 {
    font-size: 110%;
    padding: 55px 0 5px 5px;
    text-align: left;
    -webkit-text-stroke: 0.4px #141449;
}

.book-now {
    margin-top: 20px;
    padding: 2.5px 5px 2.5px 5px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(225, 77, 42);
    color: #fafafa;
    display: block;
    top: 75%;
    left: 65%;
    position: absolute;
}

.book-now:hover {
    background-color: rgb(225, 106, 42);
}

footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #101039;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {

    #menu {
        float: right;
        margin: 10px 25px 10px 10px;
    }

    #logo {
        float: left;
        margin-left: 25px;
    }

    hr {
        display: none;
    }

    #main-hd {
        top: 300px;
    }

    #tour-hd {
        background-color: rgba(225, 187, 171, 0.246);
    }

    #tour-hd h5 {
        margin: 55px 0px 25px 25px;
    }
    
    .book-now {
        top: 75%;
        left: 85%;
    }
}

@media screen and (min-width: 900px) {

    #menu {
        float: right;
        margin: 10px 25px 10px 10px;
    }

    #logo {
        float: left;
        margin-left: 25px;
    }

    hr {
        display: none;
    }

    #main-hd {
        top: 300px;
    }

    #tour-hd {
        background-color: rgba(225, 187, 171, 0.246);
    }

    #tour-hd h5 {
        bottom: 0;
        left: 0;
    }
    
    .book-now {
        top: 75%;
        left: 80%;
    }
}