@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Lato:wght@300&family=Oswald:wght@300&family=Sofia+Sans&display=swap');

* {
    margin: auto;
    padding: 0px;
}

h1, h2, h3 {
    font-family: 'Crimson Text', serif;
}

#logo {
    color: rgb(0, 18, 83);
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
}

a {
    text-decoration: none;
}

#menu {
    text-transform: uppercase;
    text-align: center;
    word-spacing: 4px;
    font-family: 'Crimson Text', serif;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

#menu li {
    display: inline;
    word-spacing: 15px;
}

li a {
    color: rgb(62, 109, 156);
}

li a:hover {
    color: rgb(225, 77, 42);
}


#main-img {
    width: 100%;
    height: 600px;
    background: url('../images/christine-kozak-Y_AweGqK9nY-unsplash.jpg') no-repeat center center;
    object-fit: scale-down;
    clear: both;
    margin-bottom: 25px 0 25px 0;
}

#main-hd {
    right: 130px;
    top: 245px;
    margin: auto;
    background-color: rgba(225, 77, 42, 0.594);
    width: 240px;
    padding-top: 10px;
    position: absolute;
    border-radius: 50%;
}

#main-hd h2, #main-hd h3 {
    text-align: center;
    margin: 10px;
    color: white;
}

#main-hd:hover {
    background-color: rgba(253, 132, 31, 0.594);
}

#description {
    margin: auto;
    width: 100%;
    height: 150px;
    padding: 10px 0 10px 0;
}

#description h2 {
    font-size: 150%;
    text-transform: uppercase;
    text-align: center;
}

#description li {
    padding: 10px 0 10px 0;
    font-size: 100%;
    font-family: sans-serif;
}

#columnimg {
    width: auto;
    height: 500px;
    clear: both;
    margin: 5px 0 5px 0;
}

.columns {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#tourzone {
    width: auto;
    margin: 25px 0 25px 0;
    
}

#tourzone h3 {
    text-align: center;
    padding: 25px;
    font-size: 150%;
    color: rgb(0, 18, 83);
}

#tour {
    background: rgba(225, 76, 42, 0.442);
}



.tour {
    width: 80%;
    height: 250px;
    object-fit: cover; /*Thanks to W3 for image fixing */
    padding: 35px 35px 35px 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

